
/*---------------- Stripe -----------------*/
.StripeElement,
.stripe-style-input {
  box-sizing: border-box;
  height: 40px;
  padding: 10px 12px;
  border: 1px solid transparent;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus,
.stripe-style-input:focus,
.stripe-style-input:active {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.stripe-style-input::placeholder {
    color: #aab7c4;
}

.fieldset-label {
    position: relative;
    right: .5rem;
}

#payment-form .form-control,
#card-element {
    color: #000;
    border: 1px solid #000;
    border-radius: 10px;
}

select,
select option {
    color: #000000;
}

select:invalid,
select option[value=""] {
    color: #aab7c4 !important;
}

th{
    max-width:200px;
    padding: 5px; 
}

td{
    width:300px;
    text-align: right;
    padding: 5px;
}

.checkout-buttons{
    text-align: center;
}

.border-table{
    border: 2px solid black;
    max-width: 60%;
}

.table-center{
    text-align: -webkit-center;
}

.heading{
    font-size: 1.2rem;
}

.page-title{
    text-align: center;
}

.sub-title{
    text-align: center;
    margin-bottom: 10px;
}

.bottom-details{
    text-align: center;
}

.buttons-click{
    background: orange!important;
    color:black!important;
}

.buttons-click:hover{
    border: 1px solid black!important;
}


@media only screen and (max-width: 425px){

.order-number{
    overflow-wrap: break-word;
}

th{
    max-width:180px;
    padding: 5px 5px 5px 5px!important;
}

td{
    max-width:235px;
    text-align: right;
    padding: 5px 5px 5px 5px!important;
}

.products-totals{
    text-align: center;
}

.checkout-buttons{
    margin-bottom: 10px;
}
}

@media only screen and (max-width: 375px){
td{
    max-width:180px;
    text-align: right;
}
}

@media only screen and (max-width: 320px){

.border-table{
    max-width: 20px;
}

.checkout-buttons{
    margin-top: 5px!important;
}

.buttons-click{
     margin-bottom: 5px;
}
}