{% extends "base.html" %}

{% load static %} 

{% block content %}
    <div class="empty-div"></div>
        <div class="container-fluid">
            <div class="col-sm-12">
                <div class="row">
                    <img class="apiary_image" src="{{ 'media/images/apiary.jpg' }}" alt="apiary image"/>
                </div> 
                <div class="row heading_row">
                    <h1 class="ml3 apiary_text_heading">Where The Magic Happens!</h1> 
                </div>
            </div>
            <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-12 about-the-apiary-text">
                    <h3>The Apiary</h3>
                    <p>Our apiary is based in the rolling mendiphills in somerset, with a plethora of forage vertually all year round due to the warmer climate, our bees 
                    produce award winning seasonal somerset honey. Our highly experienced beekeepers keep a close eye on our bees all year around making shure they have all 
                    they need if the weather is bad.</p>
                </div>
                <div class="col-lg-6 beekeeper-image-box">
                    <img class="beekeeper-image" src="{{ 'media/images/beekeeper.jpg'}}" alt="beekeeper">
                </div>
            </div> 
            </div>   
            <div class="container">
                <div class="row">
                    <a class="hidden" name="product-link"></a>
                    {% for product in products %}
                        <div class="col-lg-4 col-sm-6">
                        <a href="#">
                            <div class="card" style="width: 18rem;">
                                    <img class="card-img-top" src="{{ product.image.url }}" alt="{{ product.name }}">
                                <div class="card-body">
                                    <h5 class="card-title">{{ product.name }}</h5>
                                    <p>£{{ product.price }}</p>{{ product.id }}
                                </div>
                            </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>  
       
{% endblock %}

{% block postloadjs %}
    <script src="{% static 'js/about.js' %}"></script>
{% endblock %}