{% extends "base.html" %} 

{% load static %} 
{% block extra_css %}
<link rel="stylesheet" href="{% static 'profiles/css/profiles.css' %}" />
{% endblock %} 

{% block content %}
<div class="empty-div-profile"></div>
<div class="container">
    
        <div class="col-sm-6">
        </div>
    
    <div class="row">
        <div class="col-sm-6">
            <h2 class="profile-heading">Your Profile!</h2>
			{% load crispy_forms_tags %}
            <form method="POST" action="{% url 'user_profile' %}">
                {% csrf_token %}
                {{ logged_in_form|crispy }}
                {{ profileform|crispy }}
                <button class="btn btn-info buttons-click" type="submit">
                    Update
                </button>
            </form>
            {{ user.userprofiles.orders }}
        </div>
        <div class="col-sm-6">
            <h2 class="profile-heading">Order History</h2>
            <div class="tabel-responsive">
                <table>
                    <tbody>
                        {% for order in orders %}
                        <tr>
                            <td>
                                <a href="{% url 'order_history' order.order_number%}">{{ order.order_number|truncatechars:8 }}</a>
                            </td>
                            <td></td>
                            <td>
                                {{ order.date }}
                            </td>
                            <td>
                                £{{ order.grand_total }}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
