{% extends "base.html" %}

{% load static %} 

{% block content %}
<div class="empty-div"></div> 
<div class="empty-div"></div>
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
             <form method="POST" action="{% url 'user_profile' %}">
             {% csrf_token %}
             {{ logged_in_form.as_p }}
             {{ profileform.as_p }}


                <button class="btn btn-secondary" action="submit" >Update</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

