.cart_totals_buttons{
    text-align: end;
}

.cart-image{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
    
.qty-cart{
    max-width: 20%;
    border-radius: 50px!important;
    text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.update-link:hover{
    cursor: pointer;
}

.remove-item:hover{
    cursor: pointer;
}

.number-box{
    justify-content: center;
}

.button-box{
    text-align: center;
}

.item-price{
    text-align: center;
}

.sub-total{
    text-align: center;
}

.buttons-click{
    background: orange!important;
    color:black!important;
}

.buttons-click:hover{
    border: 1px solid black!important;
}

.but-checkout,
.but-keep{
    font-weight: 700!important;
}

/*---------- Media query -----------*/
@media only screen and (max-width: 426px){

.qty_input{
    width: 100%!important;
}
.cart-title{
    text-align: center;
}

.product{
    padding-top:4px;
}

.rule2{
    border-bottom: 1px solid gray;
} 

.buton-box{
    text-align: center!important;
}

.cart_totals_buttons{
    text-align: center;
}
}    

@media only screen and (max-width: 375px){
.but-keep{
    margin-bottom: 5px;
}
}

@media only screen and (max-width: 320px){
.cart_totals_buttons{
    text-align: center;
}
}
