/* ------------------ blog ----------------------*/
.blog-heading{
    text-align: center;
}

.superuser-but{
    margin-bottom: 10px;
}

.card-text{
    text-align: -webkit-center;
}
.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.img-blogpost{
    height: 300px;
    width: auto;
}

.boldtext{
    font-weight: bold;
}

/* ----------------- Media Queries ---------------*/

@media only screen and (max-width: 768px){

.card{
   margin-top: 15px;
}
}