/* ------------------ blog ----------------------*/
.blog-heading{
    text-align: center;
}

.blog-form{
    width: 80%!important;
    border-radius: 10px!important;
}

input#file-upload-button{
    background: red!important;
    
}

.superuser-but{
    margin-bottom: 10px;
}

.card-text{
    text-align: -webkit-center;
}
.card{
    margin-top: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.img-blogpost{
    height: 300px;
    width: auto;
}

.boldtext{
    font-weight: bold;
}

.buttons-click{
    background: orange!important;
    color:black!important;
}

.buttons-click:hover{
    border: 1px solid black!important;
}

.btn-danger:hover{
    border: 1px solid black!important;
}

/* ----------------- Media Queries ---------------*/

@media only screen and (max-width: 768px){


}