{% extends "base.html" %}

{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block content %}    
<div class="empty-div"></div>
<div class="container">
        <div class="row">
            <div class="col-sm-12">
                {% if from_user_profile %}
                    <h1 class="page-title">Order History!</h1>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="sub-title">The details of your order are below. <br> A confirmation email will be sent to {{ order.email }}</div> 
                        </div>    
                    </div>
                {% else %}
                    <h1 class="page-title">Thank You!</h1>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="sub-title">The details of your order are below. <br> A confirmation email will be sent to {{ order.email }}</div> 
                        </div>    
                    </div>
                {% endif %}
            </div>
        </div>
         <div class="row">
            <div class="col-sm-12 table-center">
                
                <table class="table border-table">
                    <tbody>
                    
                         <tr>
                            <th scope="row" class="heading">Items:</th>
                            <td></td>
                        </tr>
                         <tr>
                            <th scope="row">Order Number:</th>
                            <td class="order-number">{{ order.order_number }}</td>
                        </tr>
                         <tr>
                            <th scope="row">Date:</th>
                            <td>{{ order.date }}</td>
                        </tr>
                            {% for item in order.lineitems.all %}
                         <tr>
                            <th scope="row">Details:</th>
                            <td> {{ item.product.name }}    ({{ item.quantity }} @ £{{ item.product.price }} each) </td>
                        </tr>
                            {% endfor %}
                         <tr>
                            <th scope="row">Total:</th>
                            <td>£{{ order.order_total  }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Grand Total:</th>
                            <td>£{{ order.grand_total  }}</td>
                        </tr>
                        <tr>
                            <th scope ="row" class="heading">Delivery:</th>
                            <td></td>
                        </tr>    
                         <tr>
                            <th scope="row">Full Name:</th>
                            <td>{{ order.full_name }}</td>
                        </tr>
                         <tr>
                            <th scope="row">Address1:</th>
                            <td>{{ order.street_address1 }}</td>
                        </tr>
                        {% if order.street_address2 %}
                         <tr>
                            <th scope="row">Address2:</th>
                            <td>{{ order.street_address2  }}</td>
                        </tr>
                        {% endif %}
                        <tr>
                            <th scope="row">County:</th>
                            <td>{{ order.county }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Town or City:</th>
                            <td>{{ order.town_or_city }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Country:</th>
                            <td>{{ order.country }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Postcode:</th>
                            <td>{{ order.postcode }}</td>
                        </tr>
                        <tr>
                            <th scope="row">Phone Number:</th>
                            <td>{{ order.phone_number }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
             <div class="col-sm-12 bottom-details">
                <div>Dont Forget To Checkout Our Beekeepers Blog For Updates On Our Bees</div>
                <a class="btn btn-info buttons-click" href="{% url 'get_blogs' %}">Blog!</a>
            {% if from_user_profile %}
                <a class="btn btn-info buttons-click" href="{% url 'user_profile' %}">Back</a>
            {% endif %}
            </div>
        </div> 
</div>  
{% endblock %}      