{% extends "base.html" %}

{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block content %}    
<div class="empty-div"></div>
<div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1>Thank You!</h1>
                <p>The details of your order are below. A confirmation email will be sent to {{ order.email }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12"></div>
        </div>  
           <div class="row">
            <div class="col-sm-12">
                <span>Dont Forget To Checkout Our Beekeepers Blog For Updates On Our Bees</span>
                <a class="btn btn-secondary" href="{% url 'get_blogs' %}">Blog!</a>
            </div>
        </div> 

</div>
        <div class="col-12">
            <div class="empty-div"></div>
            <div class="empty-div"></div>       
        </div>

{% endblock %}  
