
.empty-div{
    display: block;
    height: 75px;
}

.empty-div-bottom{
    display: block;
    height: 50px;
}

/*-------------- Navigation Bar -------------*/

.honey-pot-logo-image-navbar{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid #000;
}

.logotext{
    font-size: 2rem;
    font-family: 'Pacifico', sans-serif;
    color: #000;
}

.logotext:hover{
    text-decoration: none;
    color:#BF2604;
}

.nav-center{
    flex-direction: row-reverse;
}

.background-navbar{
    background-color: #F2A20C;
}

.nav-link{
    color: #000;
    font-size: 1.8rem;
    font-family: sans-serif;
}

.nav-link:hover{
    color:#BF2604;
}

.navbar-toggler-icon{
    color: #591902;
    font-size: 2rem;
    padding-top: 5px;
}

.user-name::first-letter{
    text-transform: capitalize;
}

.user-name-man{
    text-transform: capitalize;
    font-size: 1.5rem;
}

/* -------------- Product info page -------------*/

.product_image_info{
    max-width: 100%;
    max-height: 6250px;
    border: 2px solid black;
    overflow: hidden
}

/* ----------- Product Management Page ----------*/

.management_header{
    text-align: -webkit-center;
    padding-bottom: 5px;
}

.product_management_image{
    max-width: 100%;
    max-height: 250px;
    overflow: hidden;  
}

.prod_img_box{
    padding-left: 10 !important;
    text-align: center;
    border-right: 1px solid gray;
}

.prod_man_buttons{
    text-align: right;
    padding-bottom: 5px;
}

.prod_man_button_del{
    color: red !important;
}

.prod_man_button_del:hover{
    border:1px solid red !important;
}

.prod_man_button:hover{
    border:1px solid gray !important;
}

.prod_admin_table th{
    width:25%;
} 

.prod_man_box{
    border:1px solid gray;
    margin-bottom: 4px;
}

.prod_man_col{
    margin-bottom:-8px;
}

/* ----------------- landing page ---------------*/

.apiary_image{
    width: 100%;
    height: auto;
}

.apiary_text_heading{
    padding-top: 10px;
    padding-bottom: 10px;
    color: black;
    font-size: 2.8rem;
    font-family: 'Pacifico', sans-serif;
    font-style: italic;
}

.heading_row{
    justify-content: center;
}

.beekeeper-image{
    width: 300px;
    height: auto;
    border-radius: 50%;
}

.beekeeper-image-box{
   text-align: center;
   padding-top: 20px;
   padding-bottom:50px;
}

.about-the-apiary-text{
    padding-top: 50px;
    padding-left: 120px;
    font-size: 1.1rem;
}

/* ------------- notifications ------------*/

.notifications{
    z-index: 99999999;
    position: fixed;
    top: 75px;
    right: 15px;
}

.alert_title{
    color: white;
}

/* ----------------- Footer ---------------*/

.footer{
    position: fixed;
    bottom: 0px;
    background-color: #F2A20C;
    padding: 5px;    
}

.footer-social-icons {
    text-align: right;
    padding-top: 5px;
}

.footer-social-icons a{
    color: black;
    font-size: 1.4rem;
    letter-spacing: 10px;
    cursor: pointer; 
}

.footer-social-icons a:hover {
    color:#BF2604;;
    text-decoration: none;
}

.copyright-footer{
    text-align: center;
    font-weight: 700;
    padding-top: 2px;
}

.slogan-footer{
    font-weight: 700;
    font-size: 1.2rem;
}
/* ------------------ blog ----------------------*/

.story-img {
    margin-top: 25%;
    display: block;
}

a, a:hover {
    color: #223344;
    text-decoration: none;
}

.icon-bar {
    background-color: #fff;
}

.dropdown-menu {
    min-width: 250px;
}

.panel {
    border-color: transparent;
    border-radius: 0;
}

.thumbnail {
    margin-bottom: 8px;
}

.img-container {
    overflow: hidden;
    height: 170px;
}

.img-container img {
    min-width: 280px;
    min-height: 180px;
    max-width: 380px;
    max-height: 280px;
}

.img-circle{
    width:100px;
    height: 100px; 
    border-radius: 50% !important;
}

.img-blogpost{
    height: 300px;
    width: auto;
}

.txt-container {
    overflow: hidden;
    height: 100px;
}

.panel .lead {
    overflow: hidden;
    height: 90px;
}

.label-float {
    margin: 0 auto;
    position: absolute;
    top: 0;
    z-index: 1;
    width: 100%;
    opacity: .9;
    padding: 6px;
    color: #fff;
}

.boldtext{
    font-weight: bold;
}

/* ----------------- Media Queries ---------------*/

@media only screen and (max-width: 1024px){
.beekeeper-image{
    width: 300px;
    height: auto;
}

.empty-div-bottom{
    display: none;
}

}

@media only screen and (max-width: 985px){

.navbar-toggler-icon{
    padding-top: 8px;
}
.about-the-apiary-text{
  
    padding-right: 20px;
    font-size: 1.1rem;
}
}

@media only screen and (max-width: 768px){

.apiary_text_heading{
    font-size: 2rem;
}

.about-the-apiary-text{
    padding-top: 0px;
    font-size: 1.1rem;
}

.about-the-apiary-text p{
    text-align: center;
}

.about-the-apiary-text h3{
    text-align: center;
}

.empty-div-bottom{
    display: block;
}
}

@media only screen and (min-width: 524px){
.mobile-view{
    display: none;
}
}

@media only screen and (max-width: 524px){
.beekeeper-image{
    width: 300px;
    height: auto;
}

.desktop-view{
    display: hidden;
}
}

@media only screen and (max-width: 425px){
.logotext{
    font-size: 1.5rem;
    font-family: 'Pacifico', sans-serif;
    color: #000;
}

.apiary_text_heading{
    font-size: 1.5rem;
}

.footer-social-icons {
    text-align: center;
}

.slogan-footer{
    display: None; 
}

.desktop-view{
    display: none;
}

@media only screen and (max-width: 375px){
.honey-pot-logo-image-navbar{
    display: None; 
}
.beekeeper-image{
    width: 280px;
    height: auto;
  
}
}

@media only screen and (max-width: 323px){
.honey-pot-logo-image-navbar{
    display: None; 
}

.apiary_text_heading{
    font-size: 1.2rem;
}

.beekeeper-image{
    width: 250px;
    height: auto;
}
}