/* -------------- Product info page -------------*/

.product_image_info{
    max-width: 100%;
    max-height: 6250px;
    border: 2px solid black;
    overflow: hidden;
}

.image-box-prod-info{
    text-align: center;
}

.product_info_buttonbox{
    padding-top: 20px;
}

.qty_input{
    max-width: 10%;
    text-align: center;
}

.empty-div-product-info{
    height: 80px;
}

.product_heading_info{
    background-color: #F2B705;
    font-size: 2rem;
    font-weight: 500;
}

.product_heading_info{
    margin-top: 10px;
    text-align: center;
}

.product_info_buttonbox{
    text-align: right;
    padding-top: 10px;
}

.product-info-buttons{
    justify-content: flex-end;
}

.price-product-info{
    text-align: right;
    font-size: 1.5rem;
}

.qty-size{
   font-size: 1.2rem !important;
}

/* ------------- Product on landing -------------*/

.product_heading{
    font-size: 1.2rem;
}

.card:hover{
    border: 1px solid #F2A20C;
}

.product_cards{
    margin-top: 20px;
    text-align: -webkit-center;
}

.product_heading_div{
    justify-content: center;
}

.product_cards a:hover{
    text-decoration: none;
    border: 1px solid #F2A20C;
}

.card{
    width: 18rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-title{
    color: #000;
    text-decoration: none;
}

.card-heading{
    color: #000;
}

/* ----------- Product Management Page ----------*/

.management_header{
    text-align: -webkit-center;
    padding-bottom: 5px;
}

.product_management_image{
    max-width: 100%;
    max-height: 250px;
    overflow: hidden;  
}

.prod_img_box{
    padding-left: 10 !important;
    text-align: center;
    border-right: 1px solid gray;
}

.prod_admin_table th{
    width:25%;
} 

.prod_man_box{
    border:1px solid gray;
    margin-bottom: 4px;
}

.prod_man_buttons{
    text-align: center;
}

.prod_man_col{
    margin-bottom:-8px;
}

.btn-danger:hover{
    border: 1px solid black!important;
}

.buttons-click{
    background: orange!important;
    color:black!important;
}

.buttons-click:hover{
    border: 1px solid black!important;
}

.add-product-form{
    border-radius: 10px!important;
    width: 80%!important;
}

#div_id_image{
    max-width: 500px!important;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

/* ------------------- Reviews ------------------*/
.review-header{
    text-align: center;
}

.review-sub-heading{
    font-weight: 600;
}

.header-text{
    font-size: 1.3rem;
    font-weight: 600;
}

.review-container{
    border: 1px solid gray;
}

.buttons-review{
    text-align: right;
    border-bottom: 1px solid gray;
    padding-bottom: 5px;
}

.empty-bottom-div{
    height: 50px;
}

.review-content{
    word-wrap: break-word;
}

/* ----------------- Media Queries ---------------*/

@media only screen and (max-width: 975px){

}

@media only screen and (max-width: 768px){
.product_image_info{
    max-width: 100%;
    max-height: 6250px;
}

.add-product-form{
    width: 100%!important;
}

.title-edit-page{
    text-align: center;
}
}

/* ----------------- Media Queries ---------------*/

@media only screen and (max-width: 425px){

.product_cards{
    text-align: -webkit-center;
    padding-left: 10px;
}
}


@media only screen and (max-width: 425px){
.product_heading{
    font-size: 1.1rem;
}

.card{
    width: 17rem;
}

.qty_input{
    max-width: 20%;
}
.buttons-review{
    padding-top: 5px;
    text-align: center;
}
}