{% extends 'base.html' %}

{% load static %} 
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'blog/css/blog.css' %}">
{% endblock %}

{% block content %}
    <div class="empty-div-top"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 blog-image-blog">
                {% if blog.image %}
                <img class="img-blogpost-read" src="{{ blog.image.url }}" alt="blog post image">
                {% else %}
                <img class="img-blogpost-read" src="{{ MEDIA_URL }}noimage.png" alt="blog post image">
                {% endif %}
            </div>    
            <div class="col-sm-6 blog-info">
                <h3>{{ blog.title }}</h3>
                <p><span class="boldtext">Published on:</span> {{ blog.published_date }} </p>
                <p><span class="boldtext">Views:</span> {{blog.views}}</p>
                <a href="{% url 'get_blogs' %}" class="btn btn-info buttons-click">Back to Blog</a>
                {% if request.user.is_superuser  %}
                <a href="{% url 'editblog' blog.id %}" class="btn btn-info buttons-click">Edit Blog</a>
                {% endif %}
            </div>
            </div>    
            <div class="col-md-12">
                <hr>
                <p>{{ blog.content }}</p>
                <hr>
            </div>
    </div>   
{% endblock %}