{% extends "base.html" %}

{% load static %} 
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'products/css/products.css' %}">
{% endblock %}

{% block content %}
<div class="empty-div"></div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                        <h1>Add Product</h1>
                <form class="add_products" method="POST" action="{% url 'add_product' %}"enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form| crispy }}
            
                    <button class="btn btn-info buttons-click" type="submit" href="{% url 'all_products_admin' %}">Add Product</button>
                    <a class="btn btn-info buttons-click"  href="{% url 'all_products_admin' %}">Back</a> 
                </form>
            </div> 
		</div>
    </div>

{% endblock %}
				