{% extends "base.html" %}

{% load static %} 


{% block content %}
<div class="empty-div"></div>
<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<h1>Add Product</h1>
			<form class="add_products" method="POST" action="{% url 'add_product' %}">
            {% csrf_token %}
             <div class="form-group">
                    <label for="exampleFormControlInput1">Product Name</label>
                    <input type="text" class="form-control" id="name">
                </div>
                <div class="form-group">
                <label for="product_description">Description</label>
                    <textarea class="form-control" id="product_description" rows="3"></textarea>
                </div>
                <div class="file-field">
                    <input class="file-path validate" type="text" placeholder="Upload your file">
                <input type="file">
                </div>
                <div>
                <br>
                    <button class="primaryAction" type="submit" href="{% url 'all_products_admin' %}">Add Product</button>
                    <a class="btn" id="form-button" href="{% url 'home' %}">Cancel</a>
                </div> 
			</form>
		</div>
	</div>
</div>

{% endblock %}
				