


        {% for product in products %}
        <div class="col-md-4">
        <a href="{% url 'product_info' product.id %}">
            <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="{{ product.image.url }}" alt="{{ product.name }}">
                <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p>£{{ product.price }}</p>
                </div>
            </div>
            </a>
        </div>
        {% endfor %}


