{% extends "base.html" %} 

{% load static %} 

{% block content %}
<div class="">
<h1>image</h1>
<h1>image</h1>
<h1>image</h1>
<h1>image</h1>
<h1>image</h1>
<h1>image</h1>
<h1>image</h1>

</div>
<div class="container">
    <div class="row">
        {% for product in products %}
        <div class="col-4">
        <a href="#">
            <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="{{ product.image.url }}" alt="{{ product.name }}">
                <div class="card-body">
                    <h5 class="card-title">{{ product.name }}</h5>
                    <p>£{{ product.price }}</p>
                </div>
            </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
